## NumPy

### 다룰 내용
- arange
- linspace, logspace
- rand, randn
- stack
- concatenate
- split
- sort

### arange
- range와 사용 방법이 같음
- 하지만 range보다 속도가 빠름

In [40]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [41]:
np.arange(5, 10)

array([5, 6, 7, 8, 9])

In [42]:
np.arange(5, 10, 2)  # step 지정

array([5, 7, 9])

In [43]:
# 속도 비교
size = 10 ** 6
# size = int(1E6)
size

1000000

In [44]:
%time for x in range(size): x**2
%time for x in np.arange(size): x**2

Wall time: 683 ms
Wall time: 473 ms

### linspace, logspace

- linspace - 범위 사이를 n-1 등분(point는 n개가 됨) (선형적으로 공간을 나눔)

In [41]:
# 0과 100 사이를 3점으로 나눔
np.linspace(0, 100, 3)

array([  0.,  50., 100.])

In [42]:
# 0과 100 사이를 4점으로 나눔
np.linspace(0, 100, 5)

array([  0.,  25.,  50.,  75., 100.])

- logspace - log 범위 사이를 n-1 등분(point는 n개가 됨)

In [45]:
# log10(x1)=2, log10(x2)=3, log10(x3)=4
# x1=100, x2=1000, x3=10000
np.logspace(2, 4, 3)

array([  100.,  1000., 10000.])

In [46]:
# 2, 2.5, 3
# log10(x1)=2, log10(x2)=2.5, log10(x3)=4
np.logspace(2, 3, 3)

array([ 100.        ,  316.22776602, 1000.        ])

In [47]:
10**2, 10**2.5, 10**3

(100, 316.22776601683796, 1000)

### random
- seed: 랜덤변수의 설정값
- rand: 균등분포(uniform)로 난수를 발생시킴
- randn: 정규분포(Gaussian)로 난수를 발생시킴
- randint: 정수로 난수를 발생시킴 (균등분포)
- suffle: 행렬 데이터를 섞어줌
- choice: 특정 범위의 숫자를 선택해줌 (확률 설정이 가능)

#### seed, rand, randn

In [58]:
np.random.seed(0)
rd = np.random.rand(10)       # uniform 으로 난수 발생 (균등분포)
rdn = np.random.randn(10)     # gaussian 으로 난수 발생 (정규분포 - 0에 가까운수가 많이 나옴)
print(rd)
print(rdn)

[0.5488135  0.71518937 0.60276338 0.54488318 0.4236548  0.64589411
 0.43758721 0.891773   0.96366276 0.38344152]
[ 0.14404357  1.45427351  0.76103773  0.12167502  0.44386323  0.33367433
  1.49407907 -0.20515826  0.3130677  -0.85409574]

In [20]:
# seed 값을 바꾸면 다른 값이 나옴
np.random.seed(1)
rd = np.random.rand(10) 
rdn = np.random.randn(10) 
print(rd)
print(rdn)

[4.17022005e-01 7.20324493e-01 1.14374817e-04 3.02332573e-01
 1.46755891e-01 9.23385948e-02 1.86260211e-01 3.45560727e-01
 3.96767474e-01 5.38816734e-01]
[ 1.74481176 -0.7612069   0.3190391  -0.24937038  1.46210794 -2.06014071
 -0.3224172  -0.38405435  1.13376944 -1.09989127]

In [21]:
np.random.seed(1)
rd = np.random.rand(4)
rdn = np.random.randn(4)
print(rd)
print(rdn)

[4.17022005e-01 7.20324493e-01 1.14374817e-04 3.02332573e-01]
[-0.52817175 -1.07296862  0.86540763 -2.3015387 ]

In [22]:
# rand로 3차원 행렬 만들기
r = np.random.rand(2, 3, 4)
r

array([[[0.41919451, 0.6852195 , 0.20445225, 0.87811744],
        [0.02738759, 0.67046751, 0.4173048 , 0.55868983],
        [0.14038694, 0.19810149, 0.80074457, 0.96826158]],

       [[0.31342418, 0.69232262, 0.87638915, 0.89460666],
        [0.08504421, 0.03905478, 0.16983042, 0.8781425 ],
        [0.09834683, 0.42110763, 0.95788953, 0.53316528]]])

In [23]:
# rand로 2차원 행렬 만들기
r = np.random.rand(2, 3)
r

array([[0.69187711, 0.31551563, 0.68650093],
       [0.83462567, 0.01828828, 0.75014431]])

#### randint

In [49]:
r = np.random.randint(5,10,(3,3))
r

array([[5, 9, 5],
       [7, 6, 8],
       [8, 8, 7]])

In [109]:
r = np.random.randint(5,size=(3,3))
r

array([[4, 2, 4],
       [4, 3, 3],
       [1, 1, 0]])

### unique
- 행렬 데이터에서 유일값(중복 X list)과 유일값의 개수를 확인할 수 있음

In [120]:
r

array([[4, 2, 0],
       [3, 4, 3],
       [1, 4, 1]])

In [121]:
index, counts = np.unique(r, return_counts=True)
print(index)
print(counts)

[0 1 2 3 4]
[1 2 1 2 3]

### stack
- 행렬을 쌓는 것과 같이 합치는 방법

- 1차원 행렬의 stack

In [122]:
na1 = np.arange(1, 6)
na2 = np.arange(6, 11)
na1, na2

(array([1, 2, 3, 4, 5]), array([ 6,  7,  8,  9, 10]))

In [61]:
na3 = np.stack((na1, na2))   # axis = 0가 default로 선언. axis는 차원을 의미
print(na3)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

In [63]:
na3 = np.stack((na1, na2), axis = 1) # 1차원 행렬을 합치기 때문에 여기선 axis 1까지만 가능
print(na3)

[[ 1  6]
 [ 2  7]
 [ 3  8]
 [ 4  9]
 [ 5 10]]

- 2차원 행렬의 stack

In [123]:
na1 = np.arange(1, 7).reshape(2,3)
na2 = np.arange(7, 13).reshape(2,3)
print(na1)
print(na2)

[[1 2 3]
 [4 5 6]]
[[ 7  8  9]
 [10 11 12]]

In [66]:
na3 = np.stack((na1, na2))   # axis = 0가 default로 선언. axis는 차원을 의미
print(na3)

[[[ 1  2  3]
  [ 4  5  6]]

 [[ 7  8  9]
  [10 11 12]]]

In [67]:
na3 = np.stack((na1, na2), axis = 1)   # 한 차원 안으로 들어가서 행을 짝지어 쌓음
print(na3)

[[[ 1  2  3]
  [ 7  8  9]]

 [[ 4  5  6]
  [10 11 12]]]

In [95]:
na3 = np.stack((na1, na2), axis = 2) # 한 차원 더 들어가서 원소들을 짝지어 쌓음
print(na3)

[[[ 1  7]
  [ 2  8]
  [ 3  9]]

 [[ 4 10]
  [ 5 11]
  [ 6 12]]]

### concatenate (결합)
- 세로 결합(default)은 열의 갯수가 같아야 함
- 가로 결합(axis=1)은 행의 갯수가 같아야 함

In [124]:
na1 = np.random.randint(10, size=(2, 3))
na1

array([[9, 7, 8],
       [2, 3, 8]])

In [125]:
na2 = np.random.randint(10, size=(3, 2))
na2

array([[5, 0],
       [7, 3],
       [8, 7]])

In [126]:
na3 = np.random.randint(10, size=(3, 3))
na3

array([[6, 7, 9],
       [5, 6, 5],
       [3, 5, 9]])

In [127]:
np.concatenate((na1, na3))           # axis=0이 default: 세로결합

array([[9, 7, 8],
       [2, 3, 8],
       [6, 7, 9],
       [5, 6, 5],
       [3, 5, 9]])

In [128]:
np.concatenate((na2, na3), axis=1)   # axix=1: 가로 결합

array([[5, 0, 6, 7, 9],
       [7, 3, 5, 6, 5],
       [8, 7, 3, 5, 9]])

### split

In [129]:
ab = np.arange(0, 10)
ab

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [130]:
np.split(ab, [5])     # 앞에서 5번째를 기준으로 나눈다

[array([0, 1, 2, 3, 4]), array([5, 6, 7, 8, 9])]

In [131]:
# split 해서 여러개의 array로 받을 수 있음
r1, r2 = np.split(ab, [5])  
r1, r2

(array([0, 1, 2, 3, 4]), array([5, 6, 7, 8, 9]))

In [85]:
# split 기준을 여러개 둘 수 있음: 2, 4, 6, 8 번째 원소 기준으로 5개로 나눈다
np.split(ab, [2, 4, 6, 8])

[array([0, 1]), array([2, 3]), array([4, 5]), array([6, 7]), array([8, 9])]

#### vsplit / hsplit
- 행렬을 수직, 수평으로 나눈다

In [132]:
r = np.random.randint(10, size=(4, 6))
r

array([[2, 9, 7, 2, 9, 7],
       [6, 0, 3, 8, 2, 6],
       [4, 6, 5, 3, 1, 3],
       [4, 3, 7, 9, 2, 9]])

In [133]:
# vsplit: 위 아래 각각의 행렬로 분리함
r1, r2 = np.vsplit(r, [2])     # 2번째 행 기준으로
print(r1)
print(r2)

[[2 9 7 2 9 7]
 [6 0 3 8 2 6]]
[[4 6 5 3 1 3]
 [4 3 7 9 2 9]]

In [134]:
# hsplit: 좌 우 행렬로 분리함
n1, n2 = np.hsplit(r, [3])    # 3번째 열 기준으로
print(n1)
print(n2)

[[2 9 7]
 [6 0 3]
 [4 6 5]
 [4 3 7]]
[[2 9 7]
 [8 2 6]
 [3 1 3]
 [9 2 9]]

In [135]:
# hsplit: 수직을 자름
n1, n2, n3 = np.hsplit(r, [2, 4])
print(n1)
print(n2)
print(n3)

[[2 9]
 [6 0]
 [4 6]
 [4 3]]
[[7 2]
 [3 8]
 [5 3]
 [7 9]]
[[9 7]
 [2 6]
 [1 3]
 [2 9]]

In [136]:
n1, n2, n3 = np.hsplit(r, 3)      # int를 넣으면 n등분을 함
print(n1)
print(n2)
print(n3)

[[2 9]
 [6 0]
 [4 6]
 [4 3]]
[[7 2]
 [3 8]
 [5 3]
 [7 9]]
[[9 7]
 [2 6]
 [1 3]
 [2 9]]

### sort

In [137]:
r1 = np.random.randint(10, size=(3,3))
print(r1)

[[2 8 3]
 [8 8 6]
 [5 8 0]]

In [138]:
# 가로로 sorting
r1.sort() # axis -1과 1은 같은 동작을 한다   sort는 r1에 바로 반영됨
r1

array([[2, 3, 8],
       [6, 8, 8],
       [0, 5, 8]])

In [139]:
# 세로로 sorting : axis=0
r1.sort(axis=0)
r1

array([[0, 3, 8],
       [2, 5, 8],
       [6, 8, 8]])

#### column / row 결합
- `c_[array1, array2]`: column 결합
- `r_[array1, array2]`: row 결합 → 결과가 1행 행렬이 됨
- stack이나 concatenate이 더 빠름

In [122]:
np.c_[np.array([1, 2, 3]), np.array([4, 5, 6]) ]

array([[1, 4],
       [2, 5],
       [3, 6]])

In [123]:
np.r_[np.array([1, 2, 3]), np.array([4, 5, 6]) ]

array([1, 2, 3, 4, 5, 6])