# **Python 01: Basic Syntax**

파이썬의 기본적인 문법 복습 내용입니다.

#### 다루는 내용
- 기본(comment, print)
- 식별자
- 변수
- 데이터 타입
- 데이터 형변화
- 연산자

## 1. Comment & Print

### 1.1 comment

- 프로그래밍에서 comment(주석)이란 코드가 실행되지 않는 라인을 의미
- 코드에 대한 설명을 적거나 잠시 실행시키고 싶지 않은 코드에 주석처리  
- `#`를 문장 앞에 붙여주거나 문장 내에 포인터를 둔 채로 `ctrl + /`를 눌러 사용

In [1]:
# a와 b변수를 선언
a = 1
b = 2
a, b

(1, 2)

### 1.2 print

print 명령어를 사용해 화면에 괄호 안의 내용을 출력

In [2]:
print("python")

python

end 인수를 지정해주면 줄바꿈 등을 설정 가능  
디폴트는 줄바꿈(개행)인 `end="\n"`

In [3]:
# 줄바꿈
print("python", end="\n")  
print("python")

# tab: "\t"
print("python\tbasic\tsyntax")
print("python", end="\t"), print("programming")

# 구분하기
print("subject", end=" : "), print("python")
print("python", end=", "), print("python")

python
python
python	basic	syntax
python	programming
subject : python
python, python

(None, None)

#### Format
`%-format`과 `str.format()`을 사용해서 print문의 형태를 쉽게 꾸밀 수 있음  
(개인적으로 `.format()`이 좀 더 편리)

In [4]:
s = "data"
n = 1
print("{}. {} science".format(n, s))
print("{number}. {st} science".format(number=n, st=s))

1. data science
1. data science

In [5]:
print('%s %s' % ('one', 'two'))
print("{} {}".format('one', 'two'))
print('%d %d' % (1, 2))
print('{} {}'.format(1, 2))

one two
one two
1 2
1 2

In [6]:
print("I eat %d apples" % 3)
print("I eat %s apples" % 'three')

number = 3; day = "three"
print("I ate %d apples. I was sick for %s days." % (number, day))
print("Product: %s, Price per unit: %f" % ("apple", 5.243))

I eat 3 apples
I eat three apples
I ate 3 apples. I was sick for three days.
Product: apple, Price per unit: 5.243000

In [7]:
print("Art: %5d\nPrice per unit: %8.2f" % (453, 59.058))
# %5d: 다섯자리 digit
# %8.2f: 총 여덟자리. 소수점 두자리 float

Art:   453
Price per unit:    59.06

In [8]:
print("-----------------------------------")
print("Product: %5s, Price per unit: %.5f" % ("Apple", 5.243))
print("Product: {0:5s}, Price per unit: {1:.5f}".format("Apple", 5.243))

print("-----------------------------------")
# %-10s -> 좌측정렬 (default는 우측정렬)
print("Product: %10s, Price per unit: %10.3f" % ("Apple", 5.243))
print("Product: %-10s, Price per unit: %10.3f" % ("Apple", 5.243))     

# {>10s} -> 우측정렬 (default는 좌측정렬)
print("Product: {0:10s}, Price per unit: {1:10.3f}".format("Apple", 5.243))
print("Product: {0:>10s}, Price per unit: {1:10.3f}".format("Apple", 5.243))    
print("Product: %(name)10s, Price per unit: %(price)10.5f" % {"name":"Apple", "price":5.243})
print("Product: {name:>10s}, Price per unit: {price:10.5f}".format(name="Apple", price=5.243))

-----------------------------------
Product: Apple, Price per unit: 5.24300
Product: Apple, Price per unit: 5.24300
-----------------------------------
Product:      Apple, Price per unit:      5.243
Product: Apple     , Price per unit:      5.243
Product: Apple     , Price per unit:      5.243
Product:      Apple, Price per unit:      5.243
Product:      Apple, Price per unit:    5.24300
Product:      Apple, Price per unit:    5.24300

참고로 코드를 작성하다가 한 줄이 너무 길어져 보기 좋게 다음줄로 이어서 작성하고 싶을 때는 `\`를 이용  
이 때 `\` 다음에 공백이 들어가지 않도록 주의

In [9]:
print("this is good data science school!\
 this is good data science school!\
 this is good data science school!")
print("---------------------------------")
print('''this is good data science school!
this is good data science school!
this is good data science school!''')

this is good data science school! this is good data science school! this is good data science school!
---------------------------------
this is good data science school!
this is good data science school!
this is good data science school!

## 2. 식별자(Identifiers)
 - 변수, 함수, 클래스, 모듈, 패키지 등을 구분하기 위해서 사용되는 이름
 - 규칙
     - 대소문자 구분
     - 사용가능 문자: 소문자(a~z)/대문자(A~Z)/숫자/특수기호(_) 
     - 맨 앞에 `__` 사용 지양
     - 맨 앞에 숫자 사용불가
     - 예약어 사용불가: print, def, class, True, False...

In [10]:
A = 1
a = 2
A, a

(1, 2)

## 3. 변수 - Variable

### 3.1 변수 선언

In [11]:
a = 1
b = "python"
a, b

(1, 'python')

### 3.2 식별자의 규칙에 맞지 않는 변수 할당

식별자의 규칙에 맞지 않는 변수를 할당하여 에러가 발생하는 코드 예시

In [12]:
abc~1 = 1

SyntaxError: invalid syntax (<ipython-input-12-dd4b0048ffe3>, line 1)

In [13]:
1abc = 2

SyntaxError: invalid syntax (<ipython-input-13-c61a4ad851b0>, line 1)

In [14]:
class = 2

SyntaxError: invalid syntax (<ipython-input-14-11c651c0a7c1>, line 1)

### 3.3 다중할당

아래와 같이 여러 개의 변수를 한 번에 할당할 수 있음

In [15]:
c, d = 5, "dss"

In [16]:
c, d

(5, 'dss')

In [17]:
c = d = e = 3
d, c, e

(3, 3, 3)

이 때 c, d, e는 그 값만 같은 변수들로 c를 5로 바꾸더라도 e의 값은 변하지 않음

In [18]:
c = 5
e

3

## 4. 자료형 (Data type)
- number: int, float, complex(복소수)
- boolean: True, False 
- string: str
- collection
    - List
    - Tuple
    - Dictionary
    - Set

### 4.1 Number

#### 4.1.1 int

- 정수인 숫자 데이터 타입  
- 파이썬의 버전에 따라 가능한 범위에 차이가 있음
    - python 2.x: `-2**31-1 ~ 2**31`
    - python 3.x: (무제한)

In [19]:
# 선언
a, b, c, d = 0, 1234, -3, +2345
a, b, c, d

(0, 1234, -3, 2345)

In [20]:
type(a), type(b), type(c), type(d)

(int, int, int, int)

#### 4.1.2 float (실수)

In [21]:
# 선언
a, b, c, d = 0.0, 123.45, -692.66, +7921.4
print(a, b, c, d)
print(type(a), type(b), type(c), type(d))

0.0 123.45 -692.66 7921.4
<class 'float'> <class 'float'> <class 'float'> <class 'float'>

#### 4.1.3 complex (복소수)

In [22]:
# 선언
a = 2+ 3j
b = complex(5, -2)
type(a), a, type(b), b

(complex, (2+3j), complex, (5-2j))

In [23]:
a.real, a.imag, type(a.real), type(a.imag)

(2.0, 3.0, float, float)

In [24]:
a + b, a * b, a / b

((7+1j), (16+11j), (0.1379310344827586+0.6551724137931034j))

In [25]:
# 켤레복소수
a.conjugate(), b.conjugate()

((2-3j), (5+2j))

In [26]:
abs(a), abs(b)

(3.605551275463989, 5.385164807134504)

### 4.2 Boolean

True & False의 값을 갖는 데이터타입

In [27]:
a, b = True, False
a, type(a), b, type(b)

(True, bool, False, bool)

### 4.3 String

#### 4.3.1 문자열 선언

In [28]:
a, b = 'data', 'science'
a, b

('data', 'science')

In [29]:
# multiline
ms = """data
science
school"""

print(ms)

data
science
school

In [30]:
# docstring을 작성할 때 많이 사용
def test(a, b, c):
    """
    a: flaot
    b: string
    c: integer
    """

In [31]:
# 연산자 이용 - 문자열 반복
a = "data " * 10
a

'data data data data data data data data data data '

#### 4.3.2 문자열 offset

In [32]:
s = "abcdef"
d = "2018-04-24"
s[3], s[-2], s[1:3], d[:4], d[5:7]

('d', 'e', 'bc', '2018', '04')

In [33]:
# step - reverse가 가능
s[::2], s[::-1], s[::-2]

('ace', 'fedcba', 'fdb')

#### 4.3.3 String Method

In [34]:
s = "data science"
s

'data science'

대소문자 바꾸기 (저장 x)

In [35]:
s1 = s.upper()
s2 = s.lower()
s1, s2, s

('DATA SCIENCE', 'data science', 'data science')

String의 첫 단어의 첫 글자만 대문자로 바꾸는 경우 - `str.capitalize()`  
String의 각 단어의 첫글자만 대문자로 바꾸는 경우 - `title()` → 더 보완된 것이 `string.capwords()`

In [36]:
s3 = "John. They're Bill's Friends From The Uk"
print(s3.capitalize())
print(s3.title())

import string
print(string.capwords(s3))

John. they're bill's friends from the uk
John. They'Re Bill'S Friends From The Uk
John. They're Bill's Friends From The Uk

문자열의 길이

In [37]:
len(s)

12

In [38]:
s[:len(s)], s[:]

('data science', 'data science')

함수 chaining

In [39]:
s.upper().lower()

'data science'

In [40]:
s.find("a"), s.find("test")

(1, -1)

In [41]:
s.index("a")

1

In [42]:
s.index("test")
# find는 찾는 문자열이 없으면 -1을 반환하고, index는 error 메세지 출력

ValueError: substring not found

In [43]:
s.count("a"), s.count("A"), s.count("data")

(2, 0, 1)

replace (대체하고 나서 저장되지는 않음)

In [44]:
s.replace("a", "e")

'dete science'

In [45]:
s.split(" ")

['data', 'science']

In [46]:
s.split()

['data', 'science']

In [47]:
s = "data, science"
k = "data,science"
s.split(","), k.split(",")

(['data', ' science'], ['data', 'science'])

## 4.4 List

#### 4.4.1 List 선언

In [48]:
a = ['data', 'science', 'python', 'programming']
b = [1, 2, [3, 4]]      # 2중 리스트
c = [1, "python", True]
print(type(a), type(b), type(c))

<class 'list'> <class 'list'> <class 'list'>

#### 4.4.2 List offset

In [49]:
a[1], a[-2], a[:], a[::-1]

('science',
 'python',
 ['data', 'science', 'python', 'programming'],
 ['programming', 'python', 'science', 'data'])

####  4.4.3 List Mehtod

In [50]:
a.append("jupyter notebook")
a

['data', 'science', 'python', 'programming', 'jupyter notebook']

In [51]:
a.sort()
a

['data', 'jupyter notebook', 'programming', 'python', 'science']

In [52]:
a[::-1]

['science', 'python', 'programming', 'jupyter notebook', 'data']

In [53]:
a.reverse()
a

['science', 'python', 'programming', 'jupyter notebook', 'data']

In [54]:
a.index("data")

4

In [55]:
a.remove("jupyter notebook")
a

['science', 'python', 'programming', 'data']

In [56]:
a.insert(1, "basic syntax")
a

['science', 'basic syntax', 'python', 'programming', 'data']

In [57]:
a.pop(), a

('data', ['science', 'basic syntax', 'python', 'programming'])

#### 4.4.5 List Copy
- list와 dictionary에서는 copy를 통해 복사해야 함
- 숫자, 문자열 데이터는 b=a로 복사해도 값만 복사

In [58]:
a = [1, 2, 3]
b = a
a, b

([1, 2, 3], [1, 2, 3])

In [59]:
a[2] = 10
a, b

([1, 2, 10], [1, 2, 10])

In [60]:
c = a.copy()
a, b, c

([1, 2, 10], [1, 2, 10], [1, 2, 10])

In [61]:
b[2] = 100
a, b, c

([1, 2, 100], [1, 2, 100], [1, 2, 10])

In [62]:
d = e = [1,2,3]
d, e

([1, 2, 3], [1, 2, 3])

In [63]:
d[1] = 10
d, e

([1, 10, 3], [1, 10, 3])

## 4.5 Tuple
 - 리스트와 같이 순서가 있는 데이터 타입. 하지만 변경이 불가능
 - 리스트보다 메모리를 적게 사용함

### 4.5.1 선언

In [64]:
a = 1,2,3,4
a

(1, 2, 3, 4)

In [65]:
b = (1, 2, 3, 4)
b, type(b)

((1, 2, 3, 4), tuple)

In [66]:
# tuple data는 수정이 불가능
b[1] = 5

TypeError: 'tuple' object does not support item assignment

In [67]:
import sys

ls = [1, 2, 3, 4, 5]
tu = (1, 2, 3, 4, 5)

print(sys.getsizeof(ls), sys.getsizeof(tu))   # byte 단위

104 88

## 4.6 Dictionary
- 데이터의 순서가 없음
- 여러 개의 (key: value) 쌍으로 이루어진 데이터 타입
- value에 list나 dictionary가 들어갈 수도 있음

### 4.6.1 선언

In [68]:
dic = {
    1:"one", 
    2:"two",
    "A":["data", "science"], 
    "숫자":1234,
}
type(dic), dic

(dict, {1: 'one', 2: 'two', 'A': ['data', 'science'], '숫자': 1234})

### 4.6.2 데이터 수정

In [69]:
dic[1] = "하나"
dic

{1: '하나', 2: 'two', 'A': ['data', 'science'], '숫자': 1234}

In [70]:
dic["A"]

['data', 'science']

In [71]:
# dic element delete
del dic[1]
dic

{2: 'two', 'A': ['data', 'science'], '숫자': 1234}

### 4.6.3 Dictionary Method
- keys, values, items, clear, get, copy, update

In [72]:
dic, dic.keys(), dic.values()

({2: 'two', 'A': ['data', 'science'], '숫자': 1234},
 dict_keys([2, 'A', '숫자']),
 dict_values(['two', ['data', 'science'], 1234]))

In [73]:
dic.items()

dict_items([(2, 'two'), ('A', ['data', 'science']), ('숫자', 1234)])

In [74]:
for key, value in dic.items():
    print(key, value)

2 two
A ['data', 'science']
숫자 1234

In [75]:
dic.clear()
dic

{}

In [76]:
# 다시 dic을 만든 후에
print(dic)
print(dic.get(1))
print(dic.get(2))

{}
None
None

In [77]:
dic.get(3, "no data")    # 값이 없을 때 "no data"를 출력

'no data'

In [78]:
dic2 = dic
dic, dic2

({}, {})

In [79]:
dic[1] = "하나"
dic, dic2

({1: '하나'}, {1: '하나'})

In [80]:
dic3 = dic.copy()
dic, dic2, dic3

({1: '하나'}, {1: '하나'}, {1: '하나'})

In [81]:
dic[1] = "one"
dic, dic3

({1: 'one'}, {1: '하나'})

In [82]:
# update: 존재하는 key값은 value 수정, 없는 키 값은 key & value 추가
a = {1:"a", 2:"b"}
b = {2:"c", 3:"d"}
a, b

({1: 'a', 2: 'b'}, {2: 'c', 3: 'd'})

In [83]:
a.update(b)
a

{1: 'a', 2: 'c', 3: 'd'}

### 4.7 Set
- 중복되는 데이터가 없는 형태의 데이터 타입
- 교집합, 합집합, 차집합과 같은 연산 가능
- list data에서 중복을 제거할 때 많이 사용
- 순서가 있는 데이터 타입은 아님

#### 4.7.1 선언

In [84]:
s = set([1, 2, 3, 4, 5, 1, 3, 5])
s, type(s)

({1, 2, 3, 4, 5}, set)

#### 4.7.2 연산

In [85]:
s1 = set([1, 2, 3, 4])
s2 = set([3, 4, 5, 6])

# 교집합
print(s1 & s2)
print(s1.intersection(s2))

{3, 4}
{3, 4}

In [86]:
# 합집합
print(s1 | s2)
print(s1.union(s2))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [87]:
# 차집합
print(s1 - s2)
print(s1.difference(s2))

{1, 2}
{1, 2}

#### 4.7.3 수정

In [88]:
# list로 바꾼 후에 수정하고 set
s = list(s)
s[0] = 10
s = set(s)
s

{2, 3, 4, 5, 10}

## 5. 데이터 형변환
- 데이터 타입을 다른 데이터 타입으로 바꾸는 것
- 바꾸려는 데이터 타입에 따라서 형변환 가능 여부가 다름

### 5.1 문자열과 숫자

In [89]:
s = "1234"
n = int(s)
type(s), type(n)

(str, int)

In [90]:
int(s) + 1

1235

In [91]:
"1234" + "5"

'12345'

In [92]:
s + str(n)

'12341234'

 ### 5.2 boolean 형변환

In [93]:
bool([]), bool([1, 2, 3])

(False, True)

In [94]:
bool(-1), bool(0)

(True, False)

In [95]:
bool(""), bool("asdf")

(False, True)

In [96]:
a, b = "", "a"
print(bool(a), bool(b))
if a:
    print("a is data")
if b:
    print("b is data")

False True
b is data

### 5.3 문자열의 리스트 형변환

In [97]:
s = "data"
list(s)

['d', 'a', 't', 'a']

### 5.4 튜플과 딕셔너리 형변환

#### 5.4.1 튜플의 딕셔너리 형변환
 - 튜플은 key value 형태로 되어 있는 딕셔너리로 형변환이 가능

In [98]:
t = (("1", "one"), (2, "둘"))
d = dict(t)
d, d.items()

({'1': 'one', 2: '둘'}, dict_items([('1', 'one'), (2, '둘')]))

In [99]:
tuple(d.items())

(('1', 'one'), (2, '둘'))

In [100]:
tu = ((2, "a"), (3, "b"))
tu2 = dict(tu)
tu, tu2

(((2, 'a'), (3, 'b')), {2: 'a', 3: 'b'})

## 6. 연산자
- 산술연산자, 비교연산자, 할당연산자, 비트연산자, 논리연산자, 멤버연산자, 식별연산자

### 6.1 산술연산자: `, -, *, /, //(몫), %(나머지), **(제곱)`

In [101]:
print(2 + 4)
print(2 - 4)
print(2 * 4)
print(5 / 2)

6
-2
8
2.5

In [102]:
print(10 // 3)    # 몫
print(10 % 3)     # 나머지
print(3 ** 4)
print(2 ** 0.5)

3
1
81
1.4142135623730951

### 6.2 비교연산자: `==, !=, >, >, =>, =<`

In [103]:
a, b = 10, 20
print(a == b) 
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True
False
True

### 6.3 할당연산자: `=, +=, -=, *=, /=, %=, //=, **=`

In [104]:
a = 5
print(a)

a += 10    # a = a+ 10과 같음
print(a)

a -= 5
print(a)

5
15
10

In [105]:
a = 0
for _ in range(5):
    a += 1        
a

5

In [106]:
a *= 10
print(a)

a /= 5
print(a)

a %= 6
print(a)

a //= 2        # 몫
print(a)

a **= 3
print(a)

50
10.0
4.0
2.0
8.0

In [107]:
a = 0
for num in range(1, 6):
    a += num
print(a)

15

### 6.4 비트연산자:  `&, |, ^, ~, <<, >>`
- 사용할 일은 거의 없음

In [108]:
a = 3    # 011
b = 5    # 101

print(a & b, bin(a & b))    # 결과 1: 둘다 1이어야 1 (자릿수별로) / 0b: 2진수라는 표시
print(a | b, bin(a | b))    # 결과 7 / 0b111: 둘 중 하나가 1이면 1
print(a^b, bin(a^b))        # 결과 6: XOR 연산 - 둘다 1이면 0 / OR의 반대

1 0b1
7 0b111
6 0b110

In [109]:
# 보수연산: 보수는 0 기준으로 반대되는 수 (-1과 0 사이)
print(~a, bin(~a))      # 보수 연산 : 3의 보수는 -4
print(~b, bin(~b))      # 보수 연산 : 5의 보수는 -6

-4 -0b100
-6 -0b110

In [110]:
# shift 연산
print(a<<2, bin(a<<2)) # (* 2**n) . 두 자리를 왼쪽으로 이동
print(b>>1, bin(b>>1)) # (/ 2**n)   두 자리를 오른쪽으로 이동

12 0b1100
2 0b10

### 6.5 논리 연산자 (Logical Operators)
- `and, or, not`

In [111]:
print( True and True )         # 결과: True 둘다 True이므로
print( True and False )        # 결과: False - 둘다 True가 아니므로
print( True or True )          # 결과: True - True가 둘 중에 있으므로
print( True or False )         # 결과: True - True가 둘 중에 있으므로

True
False
True
True

In [112]:
# 이런 식으로 비교연산자와 많이 사용
print(a < b or c > d)

True

In [113]:
print(not(True and True)) 
print(not(True and False))

False
True

### 6.6 멤버 연산자 (Membership Operators) 
- `in, not in`

In [114]:
a = [1,2,3,4]
print(1 in a)
print(5 in a)
print(1 not in a)

True
False
False

### 6.7 식별 연산자 (Identity Operators) `is, is not`
- 숫자나 문자열의 경우는 값을 비교
- 컬렉션 데이터의 경우에는 주소값을 비교

In [115]:
a = "a"
b = a
print( a is b )
c = "a"
print( a is c )
print( a is not c )

True
True
False

In [116]:
a = [1,2,3]
b = a
print( a is b )       # 데이터가 저장되어 있는 주소가 같은지 확인

a = [1,2,3]
c = a.copy()
print( a is c )
print( a is not c )

True
False
True

In [117]:
# 리스트의 값을 비교하려면? '==' 사용
lst = [1, 2, 3, 4]
lst1 = [1, 2, 3, 4]
lst == lst1, lst is lst1

(True, False)

#### 참고자료
- 패스트캠퍼스, ⟪데이터사이언스스쿨 8기⟫ 수업자료
- 인프런, ⟪프로그래밍, 데이터 과학을 위한 파이썬 입문⟫ 수업 자료